<p>受付中シフト一覧</p>
<table class="table table-bordered">
  <tr>
  	<td>受付中シフト</td>
  	<td>入力期限</td>
  </tr>
  <tr>
  	<td>イレギュラーシフト4月22日から4月26日まで</td>
  	<td>4月19日まで</td>
  </tr>
</table>

<p>確定シフト一覧</p>
<table class="table table-bordered">
  <tr>
  	<td>確定シフト</td>
  </tr>
  <tr>
  	<td>イレギュラーシフト4月8日から4月12日まで</td>
  </tr>
</table>

<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">月曜日</a></li>
    <li><a href="#tab2" data-toggle="tab">火曜日</a></li>
    <li><a href="#tab3" data-toggle="tab">水曜日</a></li>
    <li><a href="#tab4" data-toggle="tab">木曜日</a></li>
    <li><a href="#tab5" data-toggle="tab">金曜日</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <p>月曜日コンテンツ</p>
      <%= render 'form' %>
    </div>
    <div class="tab-pane" id="tab2">
      <p>火曜日コンテンツ</p>
      <%= render 'form' %>
    </div>
    <div class="tab-pane" id="tab3">
      <p>水曜日コンテンツ</p>
      <%= render 'form' %>
    </div>
    <div class="tab-pane" id="tab4">
      <p>木曜日コンテンツ</p>
      <%= render 'form' %>
    </div>
    <div class="tab-pane" id="tab5">
      <p>金曜日コンテンツ</p>
      <%= render 'form' %>
    </div>
  </div>
</div>