<h3>公開中もしくは公開予定のシフト一覧</h3>
<table class="table table-borderd">
    <tr>
      <th>レギュラーシフト名</th>
      <th>入力期限</th>
      <th colspan="3">操作</th>
    </tr>
  <% @rs.each do |rs| %>
    <tr>
      <td><%= rs.rs_name %></td>
      <td><%= rs.rs_input_limit_date %></td>
      <td><%= link_to '編集',  edit_manage_shift_regular_path(rs.id) %></td>
      <td><%= link_to '詳細',  manage_shift_regular_path(rs.id) %></td>
      <td><%= link_to '削除',  rs, method: :delete, data: { confirm: "レギュラーシフト「#{rs.rs_name}」を削除してもよろしいですか?" } %></td>
    </tr>
  <% end %>
</table>