<%= form_for(@manage_shift) do |f| %>
  <% if @manage_shift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manage_shift.errors.count, "error") %> prohibited this manage_shift from being saved:</h2>

      <ul>
      <% @manage_shift.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <table class="table table-bordered">
    <tr>
      <td><%= f.label :shift_type, "シフトタイプ" %></td>
      <td><%= f.radio_button :shift_type, 0 %>レギュラー<br /><%= f.radio_button :shift_type, 1 %>イレギュラー</td>
    </tr>
    <tr>
      <td><%= f.label :shift_name, "シフト名" %></td>
      <td><%= f.text_field :shift_name %></td>
    </tr>
    <tr>
      <td><%= f.label :shift_input_limit, "入力期限" %></td>
      <td><%= f.date_select :shift_input_limit %></td>
    </tr>
  </table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
