<h2>作成済みシフト一覧</h2>

<table class="table table-bordered">
  <tr >
    <th>シフト名</th>
    <th>シフトタイプ</th>
    <th>入力期限</th>
    <th>状態</th>
    <th colspan="3">操作</th>
  </tr>

<% @manage_shifts.each do |manage_shift| %>
  <tr>
    <td><%= manage_shift.shift_name %></td>
    <td><%= manage_shift.shift_type ? 'レギュラーシフト' : 'イレギュラーシフト' %></td>
    <td><%= manage_shift.shift_input_limit %></td>
    <td><%= manage_shift.condition ? '入力受付中' : '入力受付終了' %></td>
    <td><%= link_to '詳細', manage_shift %></td>
    <td><%= link_to '編集', edit_manage_shift_path(manage_shift) %></td>
    <td><%= link_to '削除', manage_shift, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
