<!DOCTYPE html>
<html>
<head>
  <title>ShiftManage</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>
    </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'サポセンシフト管理システム', main_index_path, {:class => "brand"} %>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">Username</a>
            </p>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">メニュー</li>
              <li><%= link_to 'トップページ', main_index_path %></li>
              <li><a href="#">シフト入力</a></li>
              <li><a href="#">シフト確認</a></li>
              <li><a href="#"></a></li>
              <li class="nav-header">リーダーメニュー</li>
              <li><%= link_to 'シフト作成', {:controller => 'manage/shifts', :action => 'new'} %></li>
              <li><a href="#">シフト編集</a></li>
              <li><a href="#">過去のシフト情報</a></li>
              <li class="nav-header">システムメニュー</li>
              <li><a href="#">ユーザ管理</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
            <%= yield %>
          </div>
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p align="center">&copy; ISMC Support Center</p>
      </footer>

    </div><!--/.fluid-container-->
    </html>